@font-face {
  font-family: 'song';
  src:url('../fonts/song.ttf')
}
@font-face {
  font-family: 'kai';
  src:url('../fonts/hwkt.ttf')
}
@font-face {
  font-family: 'wei_black';
  src:url('../fonts/wryh.ttf')
}
@font-face {
  font-family: 'black';
  src:url('../fonts/black.ttf')
}
@font-face {
  font-family: 'title';
  src: url('../fonts/Mika%20Melvas%20-%20RionaSans-ExtraLightItalic.otf');
}
